venv
.env
db.sqlite3

best_model.keras

welllahh/media/

welllahh/my_app/__pycache__/

welllahh/my_app/migrations/

welllahh/welllahh/__pycache__/

welllahh/db.sqlite3

best_model_86.keras

AI-notebooks/.ipynb_checkpoints/
AI-notebooks/*.csv

recommendation_cosine_sim.pkl
search_count_vec.pkl
count_matrix_name.pkl
recipes_sedikit.csv


chroma_langchain_db2/
AI-notebooks/rag/corpus/

AI-notebooks/rag/corpus.zip
welllahh_chroma.zip

med-dataset/



AI-notebooks/rag/*.csv
AI-notebooks/rag/*.json

