{% extends "base_dashboard_cantik.html" %} {%load static%} {% block content %}
<main>
  <header>
    <div>
      <h2>Record Your Daily Nutrition</h2>
      <p class="current-date">{% now "d-m-Y" %}</p>
    </div>
  </header>
  <form method="POST">
    {% csrf_token %}
    <div id="container-input-daily-nutri" class="add-bmi-container">
      <div class="input-container">
        <div class="input-box">
          <label>Food Name</label>
          <input type="text" name="nutrition_name" placeholder="Ayam Goyeng" />
        </div>
        <div class="input-box">
          <label>Calorie</label>
          <input type="number" name="calorie" placeholder="1000" step="0.01" />
        </div>
        <div class="input-box">
          <label>Protein</label>
          <input type="number" name="protein" placeholder="500" step="0.01" />
        </div>
        <div class="input-box">
          <label>Carbs</label>
          <input type="number" name="carbs" placeholder="800" step="0.01" />
        </div>
        <div class="input-box">
          <label>Fat</label>
          <input type="number" name="fat" placeholder="800" step="0.01" />
        </div>
        <button id="add-nutrition-btn" type="submit" class="calculate-btn">
          Submit
        </button>
      </div>
    </div>
  </form>
</main>
{% endblock content %} {% block script%}
<!-- prettier-ignore -->

{{ feature_tour|json_script:"feature_tour" }}
{{ curr_date|json_script:"curr_date"}}
<script>
  const feature_tour = JSON.parse(
    document.getElementById("feature_tour").textContent
  );
  let sidebarItems = document.querySelectorAll(".sidebar .item");
  for (let item of sidebarItems) {
    item.id = "";
  }
  sidebarItems[4].id = "active";

  const driver = window.driver.js.driver;

  const driverObj = driver({
    showProgress: true,
    steps: [
      {
        element: ".page-header",
        popover: {
          title: "Record Daily Nutrition",
          description:
            "Pada page ini anda dapat mencatat asupan nutrisi harian anda.",
        },
      },
      {
        element: "#container-input-daily-nutri",
        popover: {
          title: "Record Your Daily Nutrition Form",
          description:
            "Isi form dengan data nutrisi yang anda konsumsi hari ini.",
        },
      },
      {
        element: "#add-nutrition-btn",
        popover: {
          title: "Submit Your Daily Nutrition Data",
          description:
            "Klik tombol ini untuk menyimpan data nutrisi harian anda.",
        },
      },
    ],
    smoothScroll: true,
  });

  if (feature_tour == false) {
    driverObj.drive();
  }

  // post feature tour

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie("csrftoken");

  $(document).ready(function () {
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      },
    });

    $.ajax({
      url: "http://localhost:8000/my_app/feature_tour",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        item: "add_nutrition_page",
      }),
      success: function (response) {
        console.log("success");
      },
      error: function (xhr, status, error) {
        console.log("error POST request: ", error);
      },
    });
  });
</script>
<script src="{% static 'js/add_bmi.js' %}"></script>

{% endblock script%}
