<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welllah Add Riwayat</title>
    {% load static %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
 </head>
  <body>
   <section class="container">
      <header>
        Add Riwayat
      </header>
     <form class="form" method="post">
        {% csrf_token %}
        <div class="input-box">
          <label>Nama Penyakit</label>
          <input type="text" name="nama_penyakit" placeholder="Asma">
        </div>
        <div class="input-box">
          <label>Deskripsi Penyakit</label>
          <input type="text" name="deskripsi_penyakit" placeholder="uhuk uhuk">
        </div>
        <div style="display:flex;flex-direction:row;gap:15px;padding:10px;"><button type="submit">Submit</button><button type="submit" name="redirect" value="true">Submit and Go to Dashboard</button></div>
        
      </form>
    </section>
  </body>
</html>
