{% extends "base_dashboard_cantik.html" %} {%load static%} {% block content %}
<main>
  <header>
    <div>
      <h2>Record Your Medical Conditions</h2>
      <p class="current-date">{% now "d-m-Y" %}</p>
    </div>
  </header>
  <form method="POST">
    {% csrf_token %}
    <div id="medical-condition-form" class="add-bmi-container">
      <div class="input-container">
        <div class="input-box">
          <label>Nama Penyakit</label>
          <input type="text" name="nama_penyakit" placeholder="Asma" />
        </div>
        <div class="input-box">
          <label>Deskripsi Penyakit</label>
          <input
            type="text"
            name="deskripsi_penyakit"
            placeholder="uhuk uhuk"
          />
        </div>
        <button id="medical-btn" type="submit" class="calculate-btn">
          Submit
        </button>
      </div>
    </div>
  </form>
</main>
{% endblock content %} {% block script%}
<!-- prettier-ignore -->
{{ curr_date|json_script:"curr_date"}}
{{ feature_tour|json_script:"feature_tour" }}
<script>
  const feature_tour = JSON.parse(
    document.getElementById("feature_tour").textContent
  );

  let sidebarItems = document.querySelectorAll(".sidebar .item");
  for (let item of sidebarItems) {
    item.id = "";
  }
  sidebarItems[5].id = "active";

  const driver = window.driver.js.driver;

  const driverObj = driver({
    showProgress: true,
    steps: [
      {
        element: ".page-header",
        popover: {
          title: "Record Your Medical Conditions",
          description: "Pada page ini anda dapat mencatat riwayat medis anda.",
        },
      },
      {
        element: "#medical-condition-form",
        popover: {
          title: "Record Your Medical Conditions Form",
          description: "Isi form dengan data riwayat medis anda.",
        },
      },
      {
        element: "#medical-btn",
        popover: {
          title: "Submit Your Medical Conditions Data",
          description:
            "Klik tombol ini untuk menyimpan data riwayat medis anda.",
        },
      },
    ],
    smoothScroll: true,
  });

  if (feature_tour == false) {
    driverObj.drive();
  }

  // post feature tour

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie("csrftoken");

  $(document).ready(function () {
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      },
    });

    $.ajax({
      url: "http://localhost:8000/my_app/feature_tour",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        item: "add_medical_history_page",
      }),
      success: function (response) {
        console.log("success");
      },
      error: function (xhr, status, error) {
        console.log("error POST request: ", error);
      },
    });
  });
</script>

<script src="{% static 'js/add_bmi.js' %}"></script>
{% endblock script%}
