{% extends "base_dashboard_cantik.html" %} {%load static%} {% block content %}
<main>
  <header>
    <div>
      <h2>Record Your Blood Condition</h2>
      <p class="current-date">{% now "d-m-Y" %}</p>
    </div>
  </header>
  <form method="POST">
    {% csrf_token %}
    <div class="add-bmi-container">
      <div class="input-container">
        <div class="input-box">
          <label>Blood Sugar</label>
          <input
            type="number"
            name="blood_sugar"
            placeholder="{{blood_data.blood_sugar}}"
            value="{{blood_data.blood_sugar}}"
          />
        </div>
        <div class="input-box">
          <label>Uric Acid</label>
          <input
            type="number"
            name="uric_acid"
            placeholder="{{blood_data.uric_acid}}"
            value="{{blood_data.uric_acid}}"
          />
        </div>
        <div class="input-box">
          <label>Cholesterol</label>
          <input
            type="number"
            name="cholesterol"
            placeholder="{{blood_data.cholesterol}}"
            value="{{blood_data.cholesterol}}"
          />
        </div>
        <div class="input-box">
          <label>Blood Pressure</label>
          <input
            type="number"
            name="blood_pressure"
            placeholder="{{blood_data.blood_pressure}}"
            value="{{blood_data.blood_pressure}}"
          />
        </div>
        <button type="submit" class="calculate-btn">Submit</button>
      </div>
    </div>
  </form>
</main>
{% endblock content %} {% block script%}
<script src="{% static 'js/add_bmi.js' %}"></script>
{% endblock script%}
