{%load static%} {%load tz%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welllahh Dashboard</title>
    <link
      rel="stylesheet"
      href="{% static 'css/base_dashboard_cantik.css' %}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"
    />
  </head>
  <body>
    <div class="container-base">
      <aside class="left-section">
        <div class="logo">
          <img src="{% static 'img/logo_figma.png' %}" alt="" />
        </div>

        <div class="sidebar">
          <div class="item" id="active">
            <i class="bx bxs-dashboard"></i>
            <a href="{% url 'my_app:dashboard' %}">Dashboard</a>
          </div>
          <div class="item">
            <i class="bx bx-bowl-rice"></i>
            <a href="{% url 'my_app:food_nutrition'%}"
              >Food Nutrition Detector</a
            >
          </div>
          <div class="item">
            <i class="bx bx-message-square-dots"></i>
            <a href="{% url 'my_app:chatbotpage' %}">Chatbot</a>
          </div>

          <div class="item">
            <i class="bx bx-shield-plus"></i>
            <a href="{% url 'my_app:riwayat' %}">Medical History</a>
          </div>

          <div class="item">
            <i class="bx bx-capsule"></i>
            <a href="{% url 'my_app:add_nutrition' %}"
              >Add Nutrition Progress</a
            >
          </div>

          <div class="item">
            <i class="bx bx-add-to-queue"></i>
            <a href="{% url 'my_app:add_riwayat' %}">Add Medical History</a>
          </div>

          <div class="item">
            <i class="bx bx-bowl-hot"></i>
            <a href="{% url 'my_app:meal_plan' %}">Meal Plan</a>
          </div>
          <div class="item">
            <i class="bx bx-user"></i>
            <a href="{% url 'my_app:catat_tinggi_berat' %}">Record BMI</a>
          </div>

          <div class="item">
            <i class="bx bx-star"></i>
            <a href="{% url 'my_app:add_target' %}">Add Target</a>
          </div>

          <div class="item">
            <i class="bx bx-droplet"></i>
            <a href="{% url 'my_app:add_blood' %}">Add Blood Condition</a>
          </div>
          <div class="item">
            <i class="bx bx-log-out-circle"></i>
            <a href="{% url 'my_app:logout' %}">Logout</a>
          </div>
        </div>
      </aside>

      {% block content %} {% endblock content %}
    </div>

    {% block script %}
    <!-- prettier-ignore -->
    {{ curr_date|json_script:"curr_date"}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <script src="{% static 'js/script_dashboard.js' %}"></script>

    {% endblock script %}
  </body>
</html>
