{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welllahh Chatbot</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">

</head>

<body>
    <div class="container">
        <section class="side-bar">
            <button class="new-chat">
                <div class="button-new-chat">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(255,255,255,1)"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path></svg>
                    New Chat
                </div>
               
            </button>
            <div class="history">
                <div id="today">
                    <h3>Today</h3>
                    <ul class="chat-list"></ul>
                </div>
                <div id="yesterday">
                    <h3>Yesterday</h3>
                    <ul class="chat-list"></ul>
                </div>
                <div id="last-7-days">
                    <h3>Last 7 Days</h3>
                    <ul class="chat-list"></ul>
                </div>
                <div id="last-30-days">
                    <h3>Last 30 Days</h3>
                    <ul class="chat-list"></ul>
                </div>

            </div>

            <nav >
                <a class="back-button" href="{% url 'my_app:dashboard' %}">Back</a>
            </nav>

        </section>


        <section class="main">
            <div class="what-container">
                <svg id="circle-icon" width="40" height="40" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" fill="#1B2559"/>
                </svg>
                <h1 class="what-can-i-help"></h1>
            </div>
            </h1>
            <div class="chat-container"></div>
            <form class="form-chat">
                <div class="bottom-section">
                    <div class="input-container">
                        <textarea name="prompt" placeholder="tanya ke chatbot..." ></textarea>
                        <div id="submit">➩</div>
                    </div>
                </div>
            </form>
        </section>

    </div>

    {{ chat_sessions|json_script:"chat_sessions" }} {{ curr_chat_session|json_script:"curr_chat_session" }}

    <script src="{% static 'js/chatbot.js' %}"></script>
</body>

</html>