{% extends "base_dashboard.html" %} {% block content %}

<section class="main">
  <div class="main-top">
    <h1>Summary</h1>
    <i class="fas fa-user-cog"></i>
  </div>
  <div class="users">
    <div class="card">
      <h2>Today Summary</h2>

      <div class="summary-calories">
        <h2 class="calorie">Calories</h2>
        <p class="calorie" id="total-today-calories">{{today_calory}}</p>
      </div>

      <div class="summary-details">
        <div class="detes">
          <h5 class="carbs">Carbs</h5>
          <p class="carbs" id="total-today-carbs">{{today_carbs}}</p>
        </div>
        <div class="detes">
          <h5 class="fat">Fat</h5>
          <p class="fat" id="total-today-fat">{{today_fat}}</p>
        </div>
        <div class="detes">
          <h5 class="protein">Protein</h5>
          <p class="protein" id="total-today-protein">{{today_protein}}</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h2>Last 7 Day Summary</h2>

      <div class="summary-calories">
        <h2 class="calorie">Calories</h2>
        <p class="calorie" id="total-week-calories">{{weekly_calory}}</p>
      </div>

      <div class="summary-details">
        <div class="detes">
          <h5 class="carbs">Carbs</h5>
          <p class="carbs" id="total-week-carbs">{{weekly_carbs}}</p>
        </div>
        <div class="detes">
          <h5 class="fat">Fat</h5>
          <p class="fat" id="total-week-fat">{{weekly_fat}}</p>
        </div>
        <div class="detes">
          <h5 class="protein">Protein</h5>
          <p class="protein" id="total-week-protein">{{weekly_protein}}</p>
        </div>
      </div>
    </div>
  </div>
  <section class="attendance">
    <div class="attendance-list">
      <h1>Food Tracker</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Food</th>
            <th>Calorie</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Protein</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for food in today_foods %}
          <tr>
            <td>{{food.check_time}}</td>
            <td>{{food.nutrition_name}}</td>
            <td class="calorie">{{food.calorie}}</td>
            <td class="carbs">{{food.carbs}}</td>
            <td class="fat">{{food.fat}}</td>
            <td class="protein">{{food.protein}}</td>
            <td>
              <form
                action="{% url 'my_app:delete_nutrition' food.id %}"
                method="post"
                style="display: inline"
              >
                {% csrf_token %}<button type="submit">Remove</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</section>
{% endblock content %}
