<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wellah Register Page</title>
    {% load static %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
  </head>
  <body>
    <section class="container">
      <header>
        Register Account
      </header>
      <form class="form">
        <div class="input-box">
          <label>Username</label>
          <input type="text" name="username" placeholder="type your username">
        </div>
        <div class="input-box">
          <label>Password</label>
          <input type="password" name="password" placeholder="make sure nobody is behind you">
        </div>
        <div class="input-box">
          <label>Email</label>
          <input type="email" name="email" placeholder="hacker@hackermail.com">
        </div>
        <div class="input-box">
          <label>Age</label>
          <input type="number" name="age" placeholder="umurku berapa ya...">
        </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>
