{% extends "base_dashboard_cantik.html" %} {%load static%} {% block content %}
<main>
  <header>
    <div>
      <h2>Your Medical History</h2>
      <p class="current-date">10 November 2024</p>
    </div>
  </header>
  <div class="container-meal-plan">
    <div class="table">
      <div id="wrapper"></div>
    </div>
  </div>
</main>
{% endblock content %}{% block script%}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<!-- prettier-ignore -->
{{ riwayat_user|json_script:"riwayat_user"}}
{{ curr_date|json_script:"curr_date"}}

<script>


const riwayatUser = JSON.parse(
    document.getElementById("riwayat_user").textContent
);



let riwayatPenyakit = []

for (let penyakit of riwayatUser) {
    riwayatPenyakit.push([
      penyakit.nama_penyakit,
      penyakit.deskripsi_penyakit,
      penyakit.check_time,
    ])
}

new gridjs.Grid({
  columns: ["Penyakit", "Deskripsi", "Tanggal"],
  data: riwayatPenyakit,
  style: {
    td: {
      border: "1px solid #ffe8e8",
    },
    th: {
      border: "1px solid #ffe8e8",
    },
  },
}).render(document.getElementById("wrapper"));



const dateString = JSON.parse(
    document.getElementById("curr_date").textContent
  );
  
  const date = new Date(dateString);
  
  const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric"
  };
  
  const formattedDate = date.toLocaleDateString("en-US", options);
  let curentDate = document.getElementsByClassName("current-date");
  curentDate[0].textContent = formattedDate;


</script>

{% endblock script%}

